<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET アプリケーションを構成する方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebKataban.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PICUrl" value="http://sv011/bumon/kaigai/new06.4.3/Local/leadtime/leadtime.htm" />
    <add key="PICUrl_DmSales" value="http://sv011/bumon/kiki/nouki/hnouki.htm" />
    <add key="PICUrl_Zaiko" value="http://sv115/orderStatus/L005/L005001.aspx?LoginID={0}&amp;KATABAN={1}" />
    <add key="PICUrl_GLC" value="https://shuttle.nipponexpress.com/shuttle_service/indexJa" />
    <add key="PICUrl_CE" value="https://www.ckd.co.jp/english/support/eu/ce/ce_gvalve_vol.htm#AD" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="WebKataban.My.MySettings.connkhdb" connectionString="Data Source=nkcs\sqlexpress;Initial Catalog=khdbDev;Persist Security Info=True;User ID=ckdsales;Password=ckd"
      providerName="System.Data.SqlClient" />
    <add name="WebKataban.My.MySettings.connkhBase" connectionString="Data Source=nkcs\sqlexpress;Initial Catalog=khBaseDev;Persist Security Info=True;User ID=ckdsales;Password=ckd"
      providerName="System.Data.SqlClient" />
    <add name="khLogConn" connectionString="Data Source=nkcs\sqlexpress;Initial Catalog=khLogCad;Persist Security Info=True;User ID=ckdsales;Password=ckd"
      providerName="System.Data.SqlClient" />
    <add name="WebKataban.My.MySettings.connkhLog" connectionString="Data Source=nkcs\sqlexpress;Initial Catalog=khLogCad;Persist Security Info=True;User ID=ckdsales;Password=ckd"
      providerName="System.Data.SqlClient" />
    <add name="webloginConnectionString" connectionString="Data Source=nkcs\sqlexpress;Initial Catalog=weblogin;Persist Security Info=True;User ID=ckdsales;Password=ckd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="1" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpRuntime executionTimeout="1800000" />
    <!-- Excelアクセス権限 -->
    <!--<identity impersonate="true" userName="Excelout" password="Excelout" />-->
    <!--<sessionState mode="StateServer" stateNetworkTimeout="30" timeout="240" />-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <applicationSettings>
    <WebKataban.My.MySettings>
      <setting name="LoginCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Encrypted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UrlEncoded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EdiReturn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EdiUrlEncoded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FileOutputFolder" serializeAs="String">
        <value>C:\WebKatabanLog\SBO\</value>
      </setting>
      <setting name="DownLoadFileName" serializeAs="String">
        <value>Kakaku.txt</value>
      </setting>
      <setting name="ExcelDir" serializeAs="String">
        <value>C:\WebKatabanLog\ISO_仕様書\WEB\</value>
      </setting>
      <setting name="ExcelTemplate" serializeAs="String">
        <value>Template\</value>
      </setting>
      <setting name="ExcelUserDir" serializeAs="String">
        <value>UserDir\</value>
      </setting>
      <setting name="ExcelUserFile" serializeAs="String">
        <value>Manifold.xls</value>
      </setting>
      <setting name="FileOutputDir" serializeAs="String">
        <value>C:\WebKatabanLog\FileOutput\</value>
      </setting>
      <setting name="FileOutputName" serializeAs="String">
        <value>kataban.csv</value>
      </setting>
      <setting name="LogFileName" serializeAs="String">
        <value>Log.txt</value>
      </setting>
      <setting name="intMaxCount" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ManifoldTestStart" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogFolder" serializeAs="String">
        <value>C:\WebKatabanLog\Log_Net\</value>
      </setting>
      <setting name="WebKataban_WSKatahikirenkei_WSKatahikiRenkei"
        serializeAs="String">
        <value>http://localhost/wskatahikirenkei/Service.asmx</value>
      </setting>
      <setting name="MaxDispTnkCnt" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ExcelOutputPathForTest" serializeAs="String">
        <value>C:\Users\idh303\Desktop\</value>
      </setting>
      <setting name="ManifoldTestEnd" serializeAs="String">
        <value>1520</value>
      </setting>
      <setting name="WebKataban_weblogin_LoginCheck" serializeAs="String">
        <value>https://www21.ckd.co.jp/weblogin_test/logincheck.asmx</value>
      </setting>
      <setting name="IsShowFooter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShiireSearchMode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WebKataban_WcfKatahikiRenkei_KatahikiRenkeiService"
        serializeAs="String">
        <value>http://sv413/WcfKatahikiRenkei/KatahikiRenkeiService.svc</value>
      </setting>
      <setting name="AnonymousUserName" serializeAs="String">
        <value>DEFUSER</value>
      </setting>
      <setting name="AnonymousPassword" serializeAs="String">
        <value>system</value>
      </setting>
    </WebKataban.My.MySettings>
  </applicationSettings>
  <!-- WCF -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceDBIO" />
        <binding name="BasicHttpBinding_ICommonDbService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sv453/juchuedi_wsdbio/ServiceDBIO.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDBIO" contract="WsJuchuEDI.IServiceDBIO" name="BasicHttpBinding_IServiceDBIO" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>